@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* event css */
.event-btn a,
.event-btn button {
  @apply block no-underline cursor-pointer bg-eventBg2 border border-solid border-eventBg2 rounded-lg text-white py-2 px-4 text-center shadow-btnShadow hover:bg-eventBg hover:border-eventBg;
}
.event-control {
  @apply flex-1 flex gap-4 items-center justify-between;
}
.event-control select {
  @apply bg-white rounded-md w-2/3 p-1 md:w-full;
}
.event-alert a,
.event-alert button {
  @apply max-w-[12rem] mx-auto;
}
